*xcuserdata*
*.DS_Store
.theos
Packages
packages*
*xcuserstate*
Payload*
Payload
/.vscode
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
Example/Sources/token.swift
Example/Sources/1984 Big Brother 2*
