*xcuserdata*
*xcshareddata*
*.DS_Store
.theos
Package.resolved
*Package*
Packages
packages*
*xcuserstate*
Payload*
Payload
/.vscode
DerivedData/

.netrc

Example/Sources/token.swift
Example/Sources/1984 Big Brother 2*

.swp
.swiftpm