name: SwiftLint

on:
  push:
    branches:
      - main
      - lint
  pull_request:
    branches:
      - main
      - lint

jobs:
  lint:
    runs-on: macos-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Install SwiftLint
      run: |
        brew install swiftlint

    - name: Run SwiftLint
      run: |
        swiftlint
